general:
  resource:
    kind: Connection
    group: registry-proxy.kyma-project.io
    version: v1alpha1
  urlPath: connections
  category: Discovery and Network
  name: Connections
  scope: namespace
  features:
    actions:
      disableCreate: false
      disableDelete: false
  description: >-
    {{[Connection](https://github.tools.sap/kyma/registry-proxy/tree/main/docs)}} defines the Connection resource.

details: #Inside "Resource Details" view
  status:
    body:
      - name: status.conditions
        widget: ConditionList
        source: status.conditions
        fullWidth: true
      - name: status.nodePort
        widget: Text
        source: status.nodePort
      - name: status.proxyURL
        widget: Text
        source: status.proxyURL
  health:
  body:
    - widget: EventList
      filter: "$matchEvents($$, $root.kind, $root.metadata.name)"
      name: events
      defaultType: information

list: #Inside "Connection" list view
  # to Add after TimeFromNow widget is updated track progress https://github.com/kyma-project/busola/issues/3938
  #  - name: "Age"
  #    widget: TimeFromNow
  - name: list.target.host
    source: spec.target.host
    widget: Text
  - name: list.running
    source: status.conditions[type="ConnectionDeployed"].status
    highlights:
      positive:
        - "true"
        - "True"
      warning:
        - "unknown"
        - "Unknown"
      critical:
        - "false"
        - "False"
        - $item < 0
    widget: Badge
  - name: list.ready
    source: status.conditions[type="ConnectionReady"].status
    highlights:
      positive:
        - "true"
        - "True"
      warning:
        - "unknown"
        - "Unknown"
      critical:
        - "false"
        - "False"
        - $item < 0
    widget: Badge

form:
  - path: spec.target.host
    required: true
    name: form.target.host
  - path: spec.logLevel
    name: form.logLevel
    enum:
      - "debug"
      - "info"
      - "warn"
      - "error"
      - "fatal"
  - path: spec.proxy.url
    name: form.proxy.url
  - path: spec.nodePort
    name: form.nodePort
  - path: spec.proxy.locationID
    name: form.proxy.locationID
  # TODO: separate group for auth, verification only one is active
  - path: spec.target.authorization.headerSecret
    name: form.target.authorization.headerSecret
  - path: spec.target.authorization.host
    name: form.target.authorization.host
  - path: spec.resources
    name: form.resources

translations:
  en:
    form:
      resources: Resources
      logLevel: Log Level
      proxy:
        url: Proxy URL
        locationID: Location ID
      nodePort: Node Port
      target:
        host: Target Host
        authorization:
          host: Authorization Host
          headerSecret: Authorization Secret
    status:
      conditions: Conditions
      nodePort: Node Port
      proxyURL: Proxy URL
    details:
      state: State
    list:
      state: State
      conditions: Conditions
      running: Deployed
      ready: Ready
      target:
        host: "Target Host"
