name: promote to release channel

on:
  workflow_dispatch:
    inputs:
      rp_tag:
        description: "Registry Proxy tag to promote (`x.x.x`)"
        default: ""
        required: true

env:
  MODULE_VERSION: ${{ github.event.inputs.rp_tag }}
  # needed by gh cli for GitHub enterprise
  GH_ENTERPRISE_TOKEN: ${{ secrets.ENT_BOT_TOKEN }}
  ENT_BOT_USERNAME: kyma-otter-serviceuser
  ENT_BOT_EMAIL: dl_545734d8fd84a02c39000002@global.corp.sap
  GH_TOOLS_REPO_URL: ${{ secrets.GH_TOOLS_REPO_URL }}
  RP_REPO_URL: ${{ secrets.RP_REPO_URL }}

jobs:
  promote-rp:
    name: Get, render and push rp assets
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          ref: ${{ github.event.inputs.rp_tag }}

      - uses: kyma-project/manager-toolkit/.github/actions/setup-go@main

      - name: Download release assets
        run: |
          gh release download ${{ github.event.inputs.rp_tag}} -R "${RP_REPO_URL}" --pattern '*.yaml'

      - name: Render module-config
        env:
          MODULE_VERSION: ${{ github.event.inputs.rp_tag }}
        run: |
          make module-config
          echo "==== module-config ==="
          cat module-config.yaml

      - name: Set up module-manifests repo
        run: |
          git config --global user.email "${ENT_BOT_EMAIL}"
          git config --global user.name "${ENT_BOT_USERNAME}"
          git clone "https://${ENT_BOT_USERNAME}:${GH_ENTERPRISE_TOKEN}@${GH_TOOLS_REPO_URL}/${ENT_BOT_USERNAME}/module-manifests.git"
          git -C module-manifests remote add upstream "https://${ENT_BOT_USERNAME}:${GH_ENTERPRISE_TOKEN}@${GH_TOOLS_REPO_URL}/kyma/module-manifests.git"

      - name: Commit manifest
        working-directory: module-manifests
        run: |
          git fetch upstream
          git checkout -B "${MODULE_VERSION}" upstream/main

          mkdir -p modules/registry-proxy/${MODULE_VERSION}
          cp ../module-config.yaml modules/registry-proxy/${MODULE_VERSION/module-config.yaml
          cp ../default-registry-proxy-cr.yaml modules/registry-proxy/${MODULE_VERSION}/default-registry-proxy-cr.yaml
          cp ../registry-proxy-operator.yaml modules/registry-proxy/${MODULE_VERSION}/registry-proxy-operator.yaml
          git add .
          git commit -m "promote registry-proxy ${MODULE_VERSION}"
          git push origin "${MODULE_VERSION}" -f

      - name: Create PullRequest to module-manifests
        working-directory: module-manifests
        run: |
          prs=$(gh pr list -R "https://${GH_TOOLS_REPO_URL}/kyma/module-manifests" -A "${ENT_BOT_USERNAME}" --state open --json headRefName)

          if  echo $prs | jq -e ".[] | select(.headRefName==\"${MODULE_VERSION}\")"; then
              echo "opened PR already exists, no need to create new one, PR will be updated by push from previous step"
              exit 0
          fi

          gh pr create -B main --fill \
            -H "${ENT_BOT_USERNAME}:${MODULE_VERSION}" \   
            -R "https://${GH_TOOLS_REPO_URL}/kyma/module-manifests/" \
            --title "Promote registry-proxy ${MODULE_VERSION}" \
            --body "https://github.com/kyma-project/registry-proxy/actions/${{github.run_id}}"
